.akarin-header {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

#main-logo {
  width: 512px;
}

#akarin-desc {
  text-align: center;
  /*color: rgba(240, 98, 146, 1);*/
  color: #f5f5f5;
  margin-top: 24px;
  opacity: 0;
}

#page1 {
  background-color: var(--primary);
}

#page1-footer {
  background-color: var(--primary);
  width: 100vw;
  position: absolute;
  top: 100vh;
}

#page1-footer-nav {
  height: 160px;
  padding-right: 0;
}

#page1-footer-nav .nav-item {
  width: calc(100% / 4);
  height: 100%;
  align-items: center;
  justify-content: center;
}

#page1-footer-nav .nav-item svg {
  height: 64px;
}

.akarin-introduce {
  border: none;
  background-color: transparent;
}

.akarin-introduce:before {
  content: '';
  position: absolute;
  bottom: -2rem;
  height: 0.5px;
  background-color: rgba(244, 143, 177, 0.54);
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.akarin-introduce:last-child:before {
  height: 0;
}

@media (min-width: 768px) {
  .akarin-introduce:before {
    bottom: -3rem;
  }
}

@media (max-width: 768px) {
  #page1-footer-nav .nav-item svg {
    height: 48px;
  }
}

.akarin-introduce .card-img {
  width: auto;
  opacity: 0;
  transform: translateY(-20%);
}

.akarin-introduce .card-body {
  opacity: 0;
  transform: translateX(20%);
}

.akarin-introduce-btn {
  top: 1.5rem;
  border-color: var(--primary);
  color: var(--primary);
  outline: none
}

@media (max-width: 768px) {
  .akarin-introduce-btn {
    width: 100%;
  }
}

.akarin-introduce-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--light);
  box-shadow: none;
}

.akarin-introduce-btn:active,
.akarin-introduce-btn:focus {
  background-color: var(--secondary);
  border-color: var(--primary);
}

@media (min-width: 768px) {
  .akarin-introduce-btn {
    left: -3rem;
  }
}

.akarin-introduce-btn.disabled {
  color: var(--primary);
}
